/node_modules
/public/assets/admin/css
/public/assets/admin/js
/public/hot
/public/storage
/public/css
/public/js
/public/build
/public/mix-manifest.json
/public/packages
/public/sitemap.xml
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
