.content {
    font-size: 20px;

    h2 {
        font-size: 55px;
        font-weight: bolder;
    }

    h3 {
        font-size: 40px;
        font-weight: bold;
    }

    h4 {
        font-size: 30px;
        font-weight: bold;
    }

    img {
        border-radius: 10px;
        margin: auto;
        max-width: 60%;
    }

    blockquote {
        font-size: 20px;
        border: dashed 2px #ccc;
        color: rgb(77, 77, 77);
        border-radius: 20px;
        display: block;
        max-width: 700px;
        margin: auto;
        padding: 1em;

        p {
            margin: 0;
        }
    }

    p > {

        & a, strong, em {
            //
        }
        
    }

    a[href] {
        text-decoration: underline;
        color: theme('colors.blue.500');
    }

    iframe {
        width: 100%;
    }
}

.article {
    .content, &.content {
        p {
            margin-block-end: 20px;
        }
    }
}
