@import "content";

.banner, .footer {
    .logo {
        &-invert {
            filter: invert(100);
        }
    }
}

.container {
    max-width: 1700px;
}

.banner {
    background-image: url("/img/bill_pattern.svg");
    background-size: 150px 150px;
    background-repeat: space;
    background-position: center;
}

.content-background {
	background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.02'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
}

/* NO JS DROPDOWN */
.group:hover .group-hover\:scale-100 {
    transform: scale(1);
}
.group:hover .group-hover\:-rotate-180 {
    transform: rotate(180deg);
}
.scale-0 {
    transform: scale(0);
}
.min-w-32 {
    min-width: 8rem;
}