body {
    @apply bg-gray-200 bg-opacity-25;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-white;
}

::-webkit-scrollbar-thumb {
    @apply bg-black rounded-full;
}

a[href].emphasized {
    @apply text-primary;
}

hr {
    @apply my-3;
}

button:focus,
input:focus,
textarea:focus {
    @apply outline-none;
}

.editor .commands {
    @apply flex justify-center;
}

.editor .content {
    @apply my-4;
}

.editor .commands button,
.editor .menububble button {
    @apply shadow px-4 py-2 mx-1 bg-gray-800 text-white rounded-lg;
}

.editor .commands button.is-active {
    @apply transition duration-100 bg-orange-500;
}

.editor .menububble input {
    @apply bg-white shadow border border-black px-4 py-2 rounded-lg;
}

.cta,
.cta-royal {
    @apply text-center py-2 px-3 border-solid border-white text-white font-bold bg-gradient-to-br from-yellow-400 via-red-500 to-purple-500 rounded-full;
}

.cta-blue {
    @apply text-center py-2 px-3 border-solid border-white text-white font-bold bg-gradient-to-br from-blue-700  to-blue-500 rounded-full;
}

.dropdown:focus-within .dropdown-menu {
    opacity: 1;
    transform: translate(0) scale(1);
    visibility: visible;
}
